@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

@import "./config";


body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: $LIGHT-GRAYISH-CYAN;
  font-family: "Space Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include screensize(450px) {
    justify-content: flex-end;
    padding-top: 4rem;
  }
}